<div data-region="mod_tresipuntvimeo">
    {{# has_title }}
    <h2>{{ name }}</h2>
    {{/has_title}}
    <div class="iframe_container">
        <iframe src="{{ src }}"
                width="{{ width }}"
                height="{{ height }}"
                frameborder="{{ frameborder }}"
                allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen
                title="{{ title }}">
        </iframe>
    </div>
    <div class="intro">{{{ intro }}}</div>
</div>


