<div data-region="mod_tresipuntvimeo">
    {{# has_name }}
    <h2>{{ name }}</h2>
    {{/has_name}}
    {{# has_vimeo }}
    <div class="iframe_container">
        <iframe src="{{ src }}"
                width="{{ width }}"
                height="{{ height }}"
                frameborder="{{ frameborder }}"
                allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen
                title="{{ title }}">
        </iframe>
    </div>
    {{/ has_vimeo }}
    {{^ has_vimeo }}
    <div class="alert alert-warning" role="alert">
         El video está pendiente de subir a la plataforma de Vimeo.
    </div>
    {{/ has_vimeo }}
    <div class="intro">{{{ intro }}}</div>
</div>


